* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  height: 10vh;
  text-align: center;
  justify-content: center;
}

.content {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.sidebar {
  min-height: 100vh;
  text-align: center;
  align-items: center;
  flex: 1.5;
}

.friends-list {
  min-height: 100vh;
  text-align: center;
  align-items: center;
  flex: 1.5;
}

.friends-list img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border-radius: 50%;
}

.message-section {
  display: flex;
  flex-direction: column;
  flex: 5;
  align-items: center;
}
